{% extends "_layouts/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1 class="margin-base-vertical">Course Recommender</h1>
      <div class="text-center">
        <div class="spacing"></div>
        <label for="searchTermBox">Enter terms: </label>
        <input type="text" class="span10" id="searchTermBox" />
        <input type="button" class="btn btn-default" id="findTerm" value="Search" />
        <div class="spacing"></div>
        <label for="countResult">Show </label>
        <input type="text" size="2" id="countResult" placeholder/> results
      </div><!-- end text-center -->
    </div><!-- end span12 -->
  </div><!-- end row -->

  <div class="spacing"></div>

  <div class="row">
    <div class="span12">
      <div class="panel">
        <div class="text-panel" id="termPanel">
          <div id="termDiv" style="display: none;">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Similarity</th>
                </tr>
              </thead>

              <tbody></tbody>
            </table>
          </div>
        </div><!-- end text-panel -->
      </div><!-- end term search panel -->
    </div><!-- end span12 -->
  </div><!-- end row -->

  <div class="spacing"></div>

  <div class="row">
    <div class="span12">
      <div class="text-center">
        <div id="graph">
        </div>
      </div><!-- end text-center -->
    </div><!-- end span12 -->
  </div><!-- end row -->
  
</div><!-- end container -->
{% endblock %}
