<footer>
  <small>
    <div class="footer-nav">
      <div class="footer-left">
        Data from <a href="https://developer.berkeley.edu/">Berkeley Developers</a>
      </div>

      <div class="footer-right">
        A <a href="https://www.facebook.com/events/1384940795070650/1393057970925599">HackJam</a> project on 9/28/2013
      </div>

      <br />

      <div class="footer-left">
        Powered by 
        <a href="http://flask.pocoo.org/">Flask</a>,
        <a href="http://docs.python-requests.org/en/latest/">Requests</a>,
        <a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/">BeautifulSoup4</a>, and 
        <a href="http://www.clips.ua.ac.be/pattern">Pattern</a> 
      </div>

      <div class="footer-right">
        Put together by 
        <a href="https://jack-lin-r.github.io/">Jack</a>, 
        Kevin, and 
        <a href="http://kqdtran.github.io/">Khoa</a>
      </div>

      <br />

      <div class="footer-left">
        Other resources to help you plan your schedule: 
        <a href="http://ninjacourses.com/">Ninja Course</a>, 
        <a href="http://www.berkeleytime.com/">Berkeley Time</a>, 
        <a href="https://bcheck.hp.af.cm/">bCheck</a>
      </div>
    </div>
  </small>
</footer>