<footer>
  <small>
    <div class="footer-nav">
      <span class="footer-left">
        Powered by 
        <a href="http://flask.pocoo.org/">Flask</a>, 
        <a href="#">BeautifulSoup4</a>, and 
        <a href="#">Scikit-Learn</a>. 
      </span>

      <div class="footer-right">
        Put together by 
        <a href="#">Jack</a>, 
        <a href="#">Kevin</a>, and 
        <a href="http://kqdtran.github.io/">Khoa</a>. 
      </div>

      <br />
      <div class="footer-right">
        A <a href="https://www.facebook.com/events/1384940795070650/1393057970925599/?ref=notif&notif_t=plan_mall_activity">HackJam</a> project on 9/28/2013
      </div>
    </div>
  </small>
</footer>