<hr />
<footer>
  <small>
    <div class="footer-nav">
      <div class="footer-left">
        Powered by 
        <a href="http://flask.pocoo.org/">Flask</a>,
        <a href="http://docs.python-requests.org/en/latest/">Requests</a>,
        <a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/">BeautifulSoup4</a>, and 
        <a href="http://www.clips.ua.ac.be/pattern">Pattern</a> 
      </div>

      <div class="footer-right">
        Put together by 
        <a href="https://github.com/jack-lin-r">Jack</a>, 
        <a href="https://github.com/fpskhang">Kevin</a>, and 
        <a href="http://kqdtran.github.io/">Khoa</a>
      </div>

      <br />
      <div class="footer-left">
        TODO List: Clustering, Visualization
      </div>

      <div class="footer-right">
        A <a href="https://www.facebook.com/events/1384940795070650/1393057970925599/?ref=notif&notif_t=plan_mall_activity">HackJam</a> project on 9/28/2013
      </div>
    </div>
  </small>
</footer>