Flask==0.10.1
Flask-Classy==0.6.10
Jinja2==2.7.3
MarkupSafe==0.23
Pattern==2.6
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
gunicorn==19.0.0
itsdangerous==0.24
nose==1.3.3
pyparsing==2.0.2
python-dateutil==2.2
requests==2.3.0
simplejson==3.5.3
six==1.7.3
tornado==3.2.2
wsgiref==0.1.2
