Flask==0.10.1
Flask-Classy==0.6.3
Jinja2==2.7.1
MarkupSafe==0.18
Pattern==2.6
Werkzeug==0.9.4
beautifulsoup4==4.3.1
gunicorn==18.0
itsdangerous==0.23
matplotlib==1.3.0
networkx==1.8.1
nose==1.3.0
pyparsing==2.0.1
python-dateutil==2.1
requests==2.0.0
six==1.4.1
tornado==3.1.1
wsgiref==0.1.2
