/* =============================================================================
   App specific CSS file.
   ========================================================================== */

body {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Georgia", serif;
}

h1, h2, h3, h4 {
  font-family: "Garamond", "Georgia", serif;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.form-control {
  font-size: 16px;
}

.margin-base-vertical {
  margin: 20px 0;
}

.text-panel table {
  font-size: 16px;
}

footer {
  font-size: 80%;
  letter-spacing: 0;
  padding-right: 15px;
  color: #777;
  font-family: "Helvetica", sans-serif;
}

.footer-right {
  text-align: right;
  float: right;
}

.footer-left {
  text-align: left;
  float: left;
}

.btn {
  font-family: "Helvetica", sans-serif;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-sm, .btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.info-small {
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.highlight { 
  background-color: yellow 
}

.spacing {
  margin-top: 40px;
}

#forkongithub a { 
  background:#000;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1.1rem;
  line-height:2rem;
  position:relative;
  margin-right: 30px;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#060;color:#fff;
}

#forkongithub a::before,#forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:0px;
  left:0;
  height:2px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;top:auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }

  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}
